<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../../head')  %>
    <title></title>
  </head>
  <body>
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../../../Image/about_WH.jpg');"></div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">This is our great company.</h1>
          </div>
        </div>
      </div>
     <div>
       <div class="container mb-3">
          <p id = "totalMoney" style="display: none">0</p>
          <p id = "payFlag" style="display: none">F</p>
          <% for(var i=0; i < Object.keys(items).length; i++) { %>
            <p id = "whID<%=i%>" style="display: none"><%= items['item'+i].warehouseID %></p>
            <p id = "reqID<%=i%>" style="display: none"><%= items['item'+i].reqID%></p>
            <p id = "reqType<%=i%>" style="display: none"><%= items['item'+i].reqType%></p>
            <p id = "buyerID<%=i%>" style="display: none"><%= items['item'+i].buyerID%></p>
            <p id = "area<%=i%>" style="display: none"><%= items['item'+i].area%></p>
            <p id = "startDate<%=i%>" style="display: none"><%= items['item'+i].startDate%></p>
            <p id = "endDate<%=i%>" style="display: none"><%= items['item'+i].endDate%></p>
          <%}%>
          <table id = "t1" class="board-table table">
            <p style="font-size:30px">Submit Lists</p>
            <thead class="thead-dark">
              <tr>
                <th>warehouseID</th>
                <th>Status</th>
                <th>Total amount($)</th>
                <th>period</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < Object.keys(items).length; i++) { %>
                <% if(items['item'+i].reqType == "ReqByBuyer" || items['item'+i].reqType == "ReqByAdmin"){ %>
                  <tr class="table-warning">
                    <td><%= items['item'+i].warehouseID %></td>
                    <td>Pending approval</td>
                    <td><%= items['item'+i].amounts%></td>
                    <td><%= items['item'+i].startDate%> ~ <%= items['item'+i].endDate%></td>
                    <td style="float:right; padding:0px 10px 0px 0px;">
                     <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 0)">Cancel</button>
                    </td>
                  </tr>
             <% } %>
            <% if(items['item'+i].reqType == "ReqPayAcpt"){ %>
               <tbody>
                        <tr class="table-success">
                          <td><%= items['item'+i].warehouseID %></td>
                          <td>Approved</td>
                          <td><%= items['item'+i].amounts%></td>
                          <td><%= items['item'+i].startDate%> ~ <%= items['item'+i].endDate%></td>
                          <td></td>
                        </tr>
               </tbody>
             <% } %>
            <% if(items['item'+i].reqType == "Rejected"){ %>
              <tbody>
                 <tr class="table-danger">
                  <td><%= items['item'+i].warehouseID %></td>
                   <td>Rejected</td>
                   <td><%= items['item'+i].amounts%></td>
                   <td><%= items['item'+i].startDate%> ~ <%= items['item'+i].endDate%></td>                  
                   <td style="float:right; padding:0px 10px 0px 0px;">
                    <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 2)">Confirm</button>
                   </td>
                 </tr>
               <% } %>
             </tbody>
             <% } %>
        </div>
        
        <div class="container mb-4">
          <table id = "t2" class="board-table table">
           <p style="font-size:30px">Payment Lists</p>
           <thead class="thead-dark">
            <tr>
              <th>Check list</th>
              <th>warehouseID</th>
              <th>status</th>
              <th>Total amounts</th>
              <th>period</th>
              <th></th>
            </tr>
           </thead>
           <tbody>
             <% for(var i=0; i < Object.keys(items).length; i++) { %>
               <% if(items['item'+i].reqType == "ReqPayByBuyer"){ %>
                 <script>
                     document.getElementById('payFlag').innerText = 'T';
                 </script>
                 <p id = "count<%=i%>" style="display: none"><%=i%></p>
                 <p id = "reqType<%=i%>" style="display: none"><%= items['item'+i].reqType%></p>
                 <tr class="table-primary">
                  <td>
                    <input type="checkbox" name="paymentCheck" value="<%= items['item'+i].amounts%>" onclick='getCheckboxValue(event)'/>
                  </td>
                  <td><%= items['item'+i].warehouseID %></td>
                  <td>Waiting for payment</td>
                  <td id = "amounts<%=i%>" ><%= items['item'+i].amounts%></td>
                  <td><%= items['item'+i].startDate%> ~ <%= items['item'+i].endDate%></td>   
                  <td style="float:right; padding:0px 7px 0px 0px;">
                    <!-- <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 1)">Pay</button> -->
                    <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 0)">Cancel</button>
                  </td>
                 </tr>
              <% } %>
            <% } %>
           </tbody>
          </table>
        </div>
      </div>
              <div id="smart-button-container">
              <div style="text-align: center;">
                <div id="paypal-button-container"></div>
              </div>
            </div>
          </div>
        </div>
      <div class="overlay"></div>
      <script src="/JS/navShrink.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <script>
        function byClick(i, flag) {
          switch (flag) {
            case 0: // Cancel
              $.ajax({
                url: '/Buyer/MyWarehouse/Buy/Ans',
                dataType: 'json',
                type: 'POST',
                data: {answer: "Cancel",
                      reqID: document.getElementById('reqID'+i).innerText,
                      whID: document.getElementById('whID'+i).innerText,
                      reqType: document.getElementById('reqType'+i).innerText,
                      buyerID: document.getElementById('buyerID'+i).innerText,
                      area: document.getElementById('area'+i).innerText
                      //other things will be here
                    },
                    success:function(data){
                  if(data==true){
                    alert("주문이 정상적으로 취소되었습니다.");
                    window.location.href = "/Buyer/MyWarehouse";
                  }
                  else{
                    alert("에러가 발생했습니다.");
                    window.location.href = "/Buyer/MyWarehouse";
                  }
                }
              });
              break;
              case 1: // Pay
              $.ajax({
                url: '/Buyer/MyWarehouse/Buy/Ans',
                dataType: 'json',
                type: 'POST',
                data: {answer: "Accept",
                      reqID: document.getElementById('reqID'+i).innerText,
                      whID: document.getElementById('whID'+i).innerText,
                      reqType: document.getElementById('reqType'+i).innerText,
                      buyerID: document.getElementById('buyerID'+i).innerText,
                      area: document.getElementById('area'+i).innerText,
                      startDate: document.getElementById('startDate'+i).innerText,
                      endDate: document.getElementById('endDate'+i).innerText
                      //other things will be here
                    },
                    success:function(data){
                      if(data==true){
                        alert("주문이 정상적으로 처리되었습니다.");
                        window.location.href = "/Buyer/MyWarehouse";
                      }
                      else{
                      alert("에러가 발생했습니다.");
                      window.location.href = "/Buyer/MyWarehouse";
                    }
                  }

              });
              break;
            case 2: // Confirm
              $.ajax({
                url: '/Buyer/MyWarehouse/Buy/Ans',
                dataType: 'json',
                type: 'POST',
                data: {answer: "Confirm",
                      reqID: document.getElementById('reqID'+i).innerText,
                      whID: document.getElementById('whID'+i).innerText,
                      reqType: document.getElementById('reqType'+i).innerText,
                      buyerID: document.getElementById('buyerID'+i).innerText,
                      area: document.getElementById('area'+i).innerText
                      //other things will be here
                    },
                    success:function(data){
                    if(data==true){
                      alert("확인하였습니다.");
                      window.location.href = "/Buyer/MyWarehouse";
                    }
                    else{
                      alert("에러가 발생했습니다.");
                      window.location.href = "/Buyer/MyWarehouse";
                  }
                }
              });
              break;
          }
        }
      </script>
      <script src="https://www.paypal.com/sdk/js?client-id=AVTGoMn8H9F9YqVPP8EshG1M6L0BhU9zNHWfQF9u0FdJa6PTakC1b5kwlfk77cUz81s5_QxbLz1SxFc0"></script>
      <script>
        function getAmounts()
        {
          $.ajax({
                url: '/Buyer/MyWarehouse/Buy/Ans',
                dataType: 'json',
                type: 'POST',
                data: {answer: "Confirm",
                      reqID: document.getElementById('reqID'+i).innerText,
                      whID: document.getElementById('whID'+i).innerText,
                      reqType: document.getElementById('reqType'+i).innerText,
                      buyerID: document.getElementById('buyerID'+i).innerText,
                      area: document.getElementById('area'+i).innerText
                      //other things will be here
                    },
                    success:function(data){
                    if(data==true){
                      alert("확인하였습니다.");
                      window.location.href = "/Buyer/MyWarehouse";
                    }
                    else{
                      alert("에러가 발생했습니다.");
                      window.location.href = "/Buyer/MyWarehouse";
                  }
                }
            });
        }
        if(document.getElementById("payFlag").innerText == 'T'){
            paypal.Buttons({
                createOrder:function(data,actions){
                  return actions.order.create({
                    purchase_units:[{
                      amount:{
                            currency : "USD",
                            value: document.getElementById('totalMoney').innerText
                        },
                    }]
                  });
                },

                onApprove: function(data,actions){
                  return actions.order.capture().then(function(details){
                    var index = makeIndex();

                    for(var i = 0; i < index.length; i++){
                      byClick(Number(index[i]), 1);
                    }
                  });
                }
            }).render('#paypal-button-container');
          }
     </script>
     <script>
       function getCheckboxValue(event) {
           let result = 0;
           if(event.target.checked){
             result = event.target.value;
             result *= 1;                       //형변환
             console.log(makeIndex());
           }
           else{
             result -= event.target.value;
           }

           var a = document.getElementById('totalMoney').innerText;
           a *= 1;
           document.getElementById('totalMoney').innerText = (result + a);
       }
    </script>
    <script>
      function countNumofElement(){
        var payByBuyerCount = 0;
        var otherCount = 0;
        var result = 1;
        var i = 0;
        var index = []; 

        while(result != null){
          result = document.getElementById('count' + i);
          if(result == null){
            continue;
          }
          else{
            index.push(result.innerText);
          }
          i++;
        }
        return payByBuyerCount, otherCount;
      }
    </script>
    <script>
      function countNumofElement(){
        var count = 0;
        var i = 0;
        result = 1;

        while(result != null){
          result = document.getElementById('reqType' + i);
          if(result == null){
            break;
          }
          else{
            count++;
          }
          i++;
        }
        return count;
      }
    </script>
    <script>
      function makeIndex(){
        var result = 1;
        var i = 0;
        var index = []; 
        var limit = countNumofElement();

        console.log(limit);

        for(var i = 0; i < limit; i++){
          result = document.getElementById('count' + i);
          console.log(result);
          console.log(i);

          if(result == null){
            continue;
          }
          else{
            index.push(result.innerText);
          }
        }
        return index;
      }
    </script>
  </body>
</html>
